
@import './bootstrap/bootstrap.scss';
body{
    background-color: white;
}
h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1, p{
    padding: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    margin: 0;
    box-sizing: border-box;
}




